import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');@media only screen and (max-width:600px){body{background-color: lightblue;}}


body {
    background-color:#f7e0c0;
    font-family:Georgia, serif;
    color:#4b2e2e;
}

header {
      text-align:center;
}

#titre1 /*Je mets une police et une taille diffÃ©rente pour le titre de ma page*/ {
	font-family: "Imperial Script", cursive;
	font-size: 60px;
} 


img /*Je voulais des bords arrondis pour un plus joli rendu*/ {
	border-radius:12px;
	border:2px;
	width: 20%;
	height: auto;
}

nav a {
      margin:0 15px;
      color:#ff6347
}

nav a:hover {
      color:#8bc34a;
	  text-decoration: underline;  
}

nav a:active {
	color:#307614;	
}

html /*Afin de faire dÃ©filer l'Ã©cran plus "fluidement" lorsque l'on clique, j'intÃ¨gre cette consigne*/ {
	scroll-behavior: smooth;
}

main {
      padding:20px;
}

article {
      background-color:#fffaf0;
      border:1px solid #ddd;
      border-radius:8px;
      margin:20px;
	  padding:12px;
      box-shadow:0 2px 5px rgba(0,0,0,0.1)
}

#consigne /*GrÃ¢ce Ã  cette balise, j'ai rÃ©ussi Ã  crÃ©er une fonctionnalitÃ© sous toutes les pages qui permet de revenir sur l'index principal*/ {
	color:#8bc34a;
	text-decoration: underline; 
}

#consigne:hover {
	color: #ff6347;
}

#dÃ©co /*Je n'ai pas trouvÃ© d'autre moyen pour mettre ma petite photo d'index en centre et en bas de ma page. Je voulais Ã©gayÃ© ma page INDEX*/ {
	display: block;
	text-align: center;
}

h3 {
      color:#ff6347;
}

footer {
      color:#ff6347;
      text-align:center;
}

em /*Nous n'avons pas vu cette balise en cours, je l'ai trouvÃ© sur W3Docs : permet de mettre ce petit bout de texte en italique, en dehors d'une citation et directement codÃ© dans le HTML*/ { 
	color:#f0bd7a
}

h4 {
	color: #cc0000;
	font-family: "Delius Unicase", cursive;
	font-size: 20px;
}


#flexbox {
display: flex;
flex-direction: column; 
}

#un {
	background-color: #e7f2f8;
	padding: 12px;
	}

#deux {
	background-color: #fae8e6;
	padding: 12px;
	}
	
#trois {
	background-color: #e9f5ec;
	padding: 12px;
	}


#photolivres {
filter:sepia(20%);
float:left;
margin:30px;
height: auto;
width:220px;
}

.para{ 
	background-color: #fffaf0;
	padding: 17px;
	margin: 12px;
	font-family:  "Indie Flower", cursive;
	font-size: 22px;
	border:1px solid #ddd;
    border-radius:8px;
}

.oned{
margin:30px;
height: 700px;
width:925px;
}